//* COLORS

$color-white: #fff;
$color-offwhite: #eee;
$color-black: #000;
$color-offblack: #0c0c0c;
//#0f0f0f
$color-gold: #d7ae1e;

$color-logo: #cbcbcb;

$color-grey-light: #d1d1d1;
$color-grey: #adadad;
$color-grey-dark: #8c8c8c;

$color-slider-bg: #2e2e2e;
// #707070

$color-contact-bg: #171717;

//* FONTS AND WEIGHTS

$font-style-heading: "Louis George Cafe";
$font-style-paragraph: "Helvetica Neue";
$font-style-handwritten: "Berkah Ramadhan"; //! Change this font maybe
$font-style-computer: "Menlo";
$font-style-background: "Dolce Vita";

$font-light: 300;
$font-normal: 400;
$font-bold: 700;
