@import "../../sass/abstracts/variables";

.navbar {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
  width: 100vw;
  padding: 1.5rem 2rem;

  &__logo {
    float: left;
    font-size: 1.8rem;
    color: $color-logo;
    font-family: $font-style-computer;
  }

  &__links {
    float: right;
    font-size: 1.8rem;

    .link {
      &:not(:last-child) {
        margin-right: -1rem;
      }
      margin: 0rem 5rem;
      color: $color-grey;
      position: relative;
      transition: 0.3s ease;
      font-family: $font-style-heading;
      font-weight: $font-light;
      //!!!!!!!!!!!
      cursor: default; //! CHANGE THIS AS I WILL COMPLETELY CHANGE THE STYLE OF THE CURSOR
      //!!!!!!!!!!!!
      &::before {
        content: "";
        display: block;
        position: absolute;
        bottom: -0.25rem;
        left: 0;
        height: 1px;
        width: 0%;
        //background: $color-grey;
        background: $color-gold;
        border-radius: 1rem;
        transition: 0.3s ease;
      }

      &:hover {
        &::before {
          width: 100%;
        }
      }
    }

    .active {
      color: $color-gold;
    }
  }
}
